fastapi
pydantic
langchain
langgraph
python-dotenv
langchain_community
langchain_text_splitters
langchain_huggingface
langchain-google-genai
google-generativeai
google-ai-generativelanguage
uvicorn
gunicorn
faiss-cpu
sentence-transformers
tiktoken
pypdf
python-multipart
huggingface-hub
pdf2image
pyprojroot
pymupdf
pip-system-certs
langchain-ollama
openai
langchain_groq
langgraph-checkpoint-sqlite